<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <title><%= h(yield(:title) || "Kynetx appbuilder") %></title>
		<%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
    <script type="text/javascript">
    //<![CDATA[
		onerror = function(msg,url,l){
			var txt="_s=ce89e0c606b93b3ba2b8eff64b61cc41&_r=img";
			txt+="&Msg="+escape(msg);
			txt+="&URL="+escape(url);
			txt+="&Line="+l;
			txt+="&Platform="+escape(navigator.platform);
			txt+="&UserAgent="+escape(navigator.userAgent);
			var i = document.createElement("img");
			i.setAttribute("src", (("https:" == document.location.protocol) ? 
				"https://errorstack.appspot.com" : "http://www.errorstack.com") + "/submit?" + txt);
			document.body.appendChild(i);
		}
    //]]>
		</script>
  </head>
  <body>
    <div id="container">
      <div id="branding">
        <div id="appbuilder-logo">
          <%= link_to  image_tag("appbuilder-logo.png", :alt => "Kynetx appbuilder" ), root_url %>
        </div>
        <div id="usernav">
  				<% if current_user %>	
  					<a href="#" class="user"><%= current_user.name %></a> |
  					<a href="http://docs.kynetx.com" target="_blank">Help</a> |
  			    <%= link_to "Logout", logout_path %>
  			  <% end %>
  			</div><!-- #usernav -->
      </div><!-- #branding -->
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
			<div class="body_content">
				<%= yield %>
			</div>
    </div>

  </body>
</html>
